services:
  keycloak:
    image: x-keycloak:latest
    ports:
     - "8080:8080"
     - "8443:8443"
    volumes:
      - /var/opt/keycloak:/opt/keycloak/data/h2
      - ./front-end/ssl/dev:/opt/keycloak/certs:ro
    extra_hosts:
      - "host.docker.internal:172.17.0.1"
    environment:
      - KC_PROXY_ADDRESS_FORWARDING
      - PROXY_ADDRESS_FORWARDING
      - KC_PROXY
      - KC_LOGLEVEL
      - KC_HOSTNAME_URL
      - KC_HOSTNAME_STRICT
      - KC_HOSTNAME_STRICT_HTTPS
      - KC_HTTP_ENABLED
      - KC_DB
      - KC_DB_URL
      - KC_DB_USERNAME
      - KC_DB_PASSWORD
      - KEYCLOAK_ADMIN
      - KEYCLOAK_ADMIN_PASSWORD
  frontend:
    image: x-frontend:latest
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - keycloak
      - stats
      - cardbox
      - login
      - quiz
      - chat
    volumes:
      - ./front-end/ssl/dev:/etc/nginx/ssl:ro
  stats:
    image: x-stats:latest
    environment:
      - MYSQL_USER
      - MYSQL_DB_STATS
      - MYSQL_PWD
      - MYSQL_HOST
    depends_on:
      - keycloak
    volumes:
      - awards:/app/awards
    extra_hosts:
      - "host.docker.internal:172.17.0.1"
  cardbox:
    image: x-cardbox:latest
    volumes:
      - /var/lib/xerafin/cardbox-data:/app/cardbox-data
      - temp-cardbox-data:/app/temp-data
    depends_on:
      - keycloak
  quiz:
    image: x-quiz:latest
    environment:
      - MYSQL_USER
      - MYSQL_DB_QUIZ
      - MYSQL_PWD
      - MYSQL_HOST
    extra_hosts:
      - "host.docker.internal:172.17.0.1"
    depends_on:
      - keycloak
    volumes:
      - quizjson:/app/quizjson
  login:
    image: x-login:latest
    environment:
      - MYSQL_USER
      - MYSQL_DB_LOGIN
      - MYSQL_PWD
      - MYSQL_HOST
      - KEYCLOAK_USER
      - KEYCLOAK_PASSWORD
    extra_hosts:
      - "host.docker.internal:172.17.0.1"
  lexicon:
    image: x-lexicon:latest
    environment:
      - MONGO_INITDB_ROOT_USERNAME
      - MONGO_INITDB_ROOT_PASSWORD
      - MONGO_INITDB_DATABASE
    volumes:
      - ./word-data:/data
    depends_on:
      - keycloak
  lexicon-db:
    image: mongo:latest
    volumes:
      - lexicon_data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME
      - MONGO_INITDB_ROOT_PASSWORD
      - MONGO_INITDB_DATABASE
  sloth:
    image: x-sloth:latest
    environment:
      - MYSQL_USER
      - MYSQL_DB_SLOTH
      - MYSQL_PWD
      - MYSQL_HOST
    extra_hosts:
      - "host.docker.internal:172.17.0.1"
    depends_on:
      - keycloak
  chat:
    image: x-chat:latest
    environment:
      - MYSQL_USER
      - MYSQL_DB_CHAT
      - MYSQL_PWD
      - MYSQL_HOST
    volumes:
      - temp-chat-data:/app/chatdata
    extra_hosts:
      - "host.docker.internal:172.17.0.1"
    depends_on:
      - keycloak
  cron:
    image: x-cron:latest
    environment:
      - CRON_KUSER
      - CRON_KPASS
  lexicon-loader:
    image: x-lexicon-loader:latest
    environment:
      - MONGO_URL
      - MONGO_INITDB_ROOT_USERNAME
      - MONGO_INITDB_ROOT_PASSWORD
      - MONGO_INITDB_DATABASE
    volumes:
      - ./word-data:/data
    depends_on:
      - lexicon-db
    restart: "no" # do not restart after completion
volumes:
  temp-cardbox-data:
  temp-chat-data:
  quizjson:
    external: true
  awards:
    external: true
  lexicon_data:
