[Unit]
Description=Xerafin Chat Service
After=keycloak.service
Requires=keycloak.service
After=xerafin-network.service
Requires=xerafin-network.service
PartOf=xerafin.target

[Container]
ContainerName=chat
EnvironmentFile=%h/.config/xerafin3/chat.env
EnvironmentFile=%h/.config/xerafin3/mysql.env
Environment=CONTAINER_CONMON=/usr/local/bin/conmon

Image=x-chat:latest
Network=systemd-xerafin
NetworkAlias=chat

PodmanArgs=--runtime=/home/linuxbrew/.linuxbrew/bin/crun

[Service]
Restart=always

[Install]
WantedBy=xerafin.target
