[Unit]
After=keycloak.service
Requires=keycloak.service
After=xerafin-network.service
Requires=xerafin-network.service

[Container]
ContainerName=chat
EnvironmentFile=/home/spherulitic/xerafin3/config/chat.env
EnvironmentFile=/home/spherulitic/xerafin3/config/mysql.env
Environment=CONTAINER_CONMON=/usr/local/bin/conmon

Image=x-chat:latest
Network=systemd-xerafin
NetworkAlias=chat

PodmanArgs=--runtime=/home/linuxbrew/.linuxbrew/bin/crun

[Service]
Restart=always

[Install]
WantedBy=default.target
