[Unit]
Description=Populates Xerafin Lexicon Database
BindsTo=lexicon-db.service
After=xerafin-network.service
Requires=xerafin-network.service
After=lexicon-db.service
Requires=lexicon-db.service
PartOf=xerafin.target

[Container]
ContainerName=lexicon-loader
Image=x-lexicon-loader:latest

EnvironmentFile=%h/.config/xerafin3/mongo.env

# Network settings for service discovery
Network=systemd-xerafin
NetworkAlias=lexicon-loader

# Stores words.csv
Volume=/var/lib/xerafin/word-data:/data
Tmpfs=/tmp:size=1M

# Ensure the correct runtime and conmon are used
Environment=CONTAINER_CONMON=/usr/local/bin/conmon
PodmanArgs=--runtime=/home/linuxbrew/.linuxbrew/bin/crun

[Service]
Type=oneshot
Restart=on-failure
RemainAfterExit=yes

[Install]
WantedBy=xerafin.target
