[Unit]
Description=MongoDB for Lexicon Data
After=xerafin-network.service
Requires=xerafin-network.service
PartOf=xerafin.target

[Container]
ContainerName=lexicon-db
Image=mongo:latest

EnvironmentFile=/home/spherulitic/xerafin3/config/mongo.env
Environment=TCMALLOC_PERCPU_CACHE_ENABLED=false

# Network settings for service discovery
Network=systemd-xerafin
NetworkAlias=lexicon-db

# Ensure the correct runtime and conmon are used
Environment=CONTAINER_CONMON=/usr/local/bin/conmon
PodmanArgs=--runtime=/bin/runc --security-opt seccomp=unconfined

[Service]
Restart=always
LimitNPROC=64000
LimitNOFILE=64000

[Install]
WantedBy=xerafin.target
