[Unit]
Description=Xerafin Data Migration
After=keycloak.service
Requires=keycloak.service
After=xerafin-network.service
Requires=xerafin-network.service

[Container]
ContainerName=migration
Image=x-migration:latest

EnvironmentFile=%h/.config/xerafin3/migration.env
#EnvironmentFile=%h/.config/xerafin3/mysql.env
Environment=MYSQL_HOST=192.168.1.12 # override because host.containers.internal isn't working

# Network settings for service discovery
Network=systemd-xerafin
NetworkAlias=migration

# No volumes needed

# Ensure the correct runtime and conmon are used
Environment=CONTAINER_CONMON=/usr/local/bin/conmon
PodmanArgs=--runtime=/home/linuxbrew/.linuxbrew/bin/crun

[Service]
Type=oneshot
Restart=no
RemainAfterExit=yes

[Install]
