[Unit]
Description=Xerafin Quiz Service
After=keycloak.service
Requires=keycloak.service
After=xerafin-network.service
Requires=xerafin-network.service
PartOf=xerafin.target

[Container]
ContainerName=quiz
Image=x-quiz:latest

EnvironmentFile=/home/spherulitic/xerafin3/config/quiz.env
EnvironmentFile=/home/spherulitic/xerafin3/config/mysql.env

# Network settings for service discovery
Network=systemd-xerafin
NetworkAlias=quiz

# Stores canned quizzes
Volume=/var/lib/xerafin/quizjson:/app/quizjson

# Ensure the correct runtime and conmon are used
Environment=CONTAINER_CONMON=/usr/local/bin/conmon
PodmanArgs=--runtime=/home/linuxbrew/.linuxbrew/bin/crun

[Service]
Restart=always

[Install]
WantedBy=xerafin.target
