[Unit]
Description=Shared network for Xerafin services
Before=xerafin.target

[Network]
# Options: bridge, macvlan, ipvlan
Driver=bridge
Subnet=10.89.0.0/24
Gateway=10.89.0.1
IPv6=true
Internal=false

[Install]
WantedBy=default.target
