name: Build and Push Docker Images

on:
  push:
    branches:
      - main
#on:
#  workflow_dispatch: # Allows manual triggering
env:
  PROD_KEYCLOAK_URL: 'https://auth.xerafin.net'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Services
        run: |
          declare -A dir_to_image
          dir_to_image=(
            ["chat"]="x-chat"
            ["keycloak"]="x-keycloak"
            ["cron"]="x-cron"
            ["front-end"]="x-frontend"
            ["lexicon"]="x-lexicon"
            ["lexicon-loader"]="x-lexicon-loader"
            ["login"]="x-login"
            ["quiz"]="x-quiz"
            ["stats"]="x-stats"
            ["cardbox"]="x-cardbox"
          )
          for dir in "${!dir_to_image[@]}"; do
            image_name="${dir_to_image[$dir]}"
            docker build --pull --build-arg KEYCLOAK_URL=${{env.PROD_KEYCLOAK_URL}} -t spherulitic/$image_name:latest $dir
            docker push spherulitic/$image_name:latest
          done
