name: Build, Push, Deploy Docker Images

on:
  push:
    branches:
      - main
#on:
#  workflow_dispatch: # Allows manual triggering
env:
  PROD_KEYCLOAK_URL: 'https://auth.xerafin.net'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Services
        run: |
          declare -A dir_to_image
          dir_to_image=(
            ["chat"]="x-chat"
            ["keycloak"]="x-keycloak"
            ["cron"]="x-cron"
            ["front-end"]="x-frontend"
            ["lexicon"]="x-lexicon"
            ["lexicon-loader"]="x-lexicon-loader"
            ["login"]="x-login"
            ["quiz"]="x-quiz"
            ["stats"]="x-stats"
            ["cardbox"]="x-cardbox"
          )
          for dir in "${!dir_to_image[@]}"; do
            image_name="${dir_to_image[$dir]}"
            docker build --pull --build-arg KEYCLOAK_URL=${{env.PROD_KEYCLOAK_URL}} -t spherulitic/$image_name:latest $dir
            docker push spherulitic/$image_name:latest
          done
  deploy-to-droplet:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Copy .container files
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.HOST_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "deploy/*"
          target: "/home/spherulitic/.config/containers/systemd/"
          strip_components: 1

      - name: Copy mongo config files
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.HOST_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "lexicon-db/*"
          target: "/var/lib/xerafin/"
          strip_components: 1

      - name: Reload systemd and restart all services
        uses: appleboy/ssh-action@v1.2.4
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.HOST_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # Reload systemd to pick up unit file changes
            systemctl --user daemon-reload

            # Restart all services
            systemctl --user restart xerafin.target

            # Quick status check
            echo "Service status"
            systemctl --user --no-pager status xerafin.target --all

            # Fixing a nonstandard dev configuration
            find ~/.config/containers/systemd/ -name '*.container' -exec sed -i 's|--runtime=/home/linuxbrew/.linuxbrew/bin/crun|--runtime=/usr/bin/crun|g' {} \;
