name: Build, Push, Deploy Docker Images

on:
  push:
    branches:
      - main
#on:
#  workflow_dispatch: # Allows manual triggering
env:
  PROD_KEYCLOAK_URL: 'https://auth.xerafin.net'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Services
        run: |
          declare -A dir_to_image
          dir_to_image=(
            ["chat"]="x-chat"
            ["keycloak"]="x-keycloak"
            ["cron"]="x-cron"
            ["front-end"]="x-frontend"
            ["lexicon"]="x-lexicon"
            ["lexicon-loader"]="x-lexicon-loader"
            ["login"]="x-login"
            ["quiz"]="x-quiz"
            ["stats"]="x-stats"
            ["cardbox"]="x-cardbox"
          )
          for dir in "${!dir_to_image[@]}"; do
            image_name="${dir_to_image[$dir]}"
            docker build --pull --build-arg KEYCLOAK_URL=${{env.PROD_KEYCLOAK_URL}} -t spherulitic/$image_name:latest $dir
            docker push spherulitic/$image_name:latest
          done
  deploy-to-droplet:
    runs-on: ubuntu-latest
    needs: build-and-push
    env:
      CHAT_MYSQL_PWD: ${{ secrets.CHAT_MYSQL_PWD }}
      CHAT_MYSQL_USER: ${{ vars.CHAT_MYSQL_USER }}
      CHAT_MYSQL_DB: ${{ vars.CHAT_MYSQL_DB }}
      KEYCLOAK_MYSQL_PWD: ${{ secrets.KEYCLOAK_MYSQL_PWD }}
      KEYCLOAK_BOOTSTRAP_ADMIN_USERNAME: ${{ secrets.KEYCLOAK_BOOTSTRAP_ADMIN_USERNAME }}
      KEYCLOAK_BOOTSTRAP_ADMIN_PASSWORD: ${{ secrets.KEYCLOAK_BOOTSTRAP_ADMIN_PASSWORD }}
      KEYCLOAK_USER: ${{ vars.KEYCLOAK_USER }}
      KEYCLOAK_PASSWORD: ${{ secrets.KEYCLOAK_PASSWORD }}
      KC_LOGLEVEL: ${{ vars.KC_LOGLEVEL }}
      KC_PROXY: ${{ vars.KC_PROXY }}
      KC_PROXY_ADDRESS_FORWARDING: ${{ vars.KC_PROXY_ADDRESS_FORWARDING }}
      KC_HOSTNAME: ${{ vars.KC_HOSTNAME }}
      KC_HOSTNAME_STRICT: ${{ vars.KC_HOSTNAME_STRICT }}
      KC_HOSTNAME_URL: ${{ vars.KC_HOSTNAME_URL }}
      KC_HTTP_ENABLED: ${{ vars.KC_HTTP_ENABLED }}
      KC_DB: ${{ vars.KC_DB }}
      KC_DB_URL: ${{ vars.KC_DB_URL }}
      KC_DB_USERNAME: ${{ vars.KC_DB_USERNAME }}
      KC_DB_PASSWORD: ${{ secrets.KC_DB_PASSWORD }}
      KEYSTORE_PATH: ${{ vars.KEYSTORE_PATH }}
      KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
      LOGIN_MYSQL_PWD: ${{ secrets.LOGIN_MYSQL_PWD }}
      LOGIN_MYSQL_USER: ${{ vars.LOGIN_MYSQL_USER }}
      LOGIN_MYSQL_DB: ${{ vars.LOGIN_MYSQL_DB }}
      MYSQL_HOST: ${{ vars.MYSQL_HOST }}
      MYSQL_PORT: ${{ vars.MYSQL_PORT }}
      QUIZ_MYSQL_PWD: ${{ secrets.QUIZ_MYSQL_PWD }}
      QUIZ_MYSQL_USER: ${{ vars.QUIZ_MYSQL_USER }}
      QUIZ_MYSQL_DB: ${{ vars.QUIZ_MYSQL_DB }}
      SLOTH_MYSQL_PWD: ${{ secrets.SLOTH_MYSQL_PWD }}
      SLOTH_MYSQL_USER: ${{ vars.SLOTH_MYSQL_USER }}
      SLOTH_MYSQL_DB: ${{ vars.SLOTH_MYSQL_DB }}
      STATS_MYSQL_PWD: ${{ secrets.STATS_MYSQL_PWD }}
      STATS_MYSQL_USER: ${{ vars.STATS_MYSQL_USER }}
      STATS_MYSQL_DB: ${{ vars.STATS_MYSQL_DB }}

    steps:
      - name: Generate .env files
        run: |
          mkdir -p generated_envs
          echo MYSQL_USER=${CHAT_MYSQL_USER} > generated_envs/chat.env
          echo MYSQL_DB=${CHAT_MYSQL_DB} >> generated_envs/chat.env
          echo MYSQL_PWD=${CHAT_MYSQL_PWD} >> generated_envs/chat.env
          echo KEYCLOAK_BOOTSTRAP_ADMIN_USERNAME=${KEYCLOAK_BOOTSTRAP_ADMIN_USERNAME} > generated_envs/keycloak.env
          echo KEYCLOAK_BOOTSTRAP_ADMIN_PASSWORD=${KEYCLOAK_BOOTSTRAP_ADMIN_PASSWORD} >> generated_envs/keycloak.env
          echo KEYCLOAK_USER=${KEYCLOAK_USER} >> generated_envs/keycloak.env
          echo KEYCLOAK_PASSWORD=${KEYCLOAK_PASSWORD} >> generated_envs/keycloak.env
          echo KC_LOGLEVEL=${KC_LOGLEVEL} >> generated_envs/keycloak.env
          echo KC_PROXY=${KC_PROXY} >> generated_envs/keycloak.env
          echo KC_PROXY_ADDRESS_FORWARDING=${KC_PROXY_ADDRESS_FORWARDING} >> generated_envs/keycloak.env
          echo KC_HOSTNAME=${KC_HOSTNAME} >> generated_envs/keycloak.env
          echo KC_HOSTNAME_STRICT=${KC_HOSTNAME_STRICT} >> generated_envs/keycloak.env
          echo KC_HOSTNAME_URL=${KC_HOSTNAME_URL} >> generated_envs/keycloak.env
          echo KC_HTTP_ENABLED=${KC_HTTP_ENABLED} >> generated_envs/keycloak.env
          echo KC_DB=${KC_DB} >> generated_envs/keycloak.env
          echo KC_DB_URL=${KC_DB_URL} >> generated_envs/keycloak.env
          echo KC_DB_USERNAME=${KC_DB_USERNAME} >> generated_envs/keycloak.env
          echo KC_DB_PASSWORD=${KC_DB_PASSWORD} >> generated_envs/keycloak.env
          echo KEYSTORE_PATH=${KEYSTORE_PATH} >> generated_envs/keycloak.env
          echo KEYSTORE_PASSWORD=${KEYSTORE_PASSWORD} >> generated_envs/keycloak.env
          echo MYSQL_HOST=${MYSQL_HOST} > generated_envs/mysql.env
          echo MYSQL_PORT=${MYSQL_PORT} >> generated_envs/mysql.env
          echo MYSQL_USER=${LOGIN_MYSQL_USER} > generated_envs/login.env
          echo MYSQL_DB=${LOGIN_MYSQL_DB} >> generated_envs/login.env
          echo MYSQL_PWD=${LOGIN_MYSQL_PWD} >> generated_envs/login.env
          echo MYSQL_USER=${QUIZ_MYSQL_USER} > generated_envs/quiz.env
          echo MYSQL_DB=${QUIZ_MYSQL_DB} >> generated_envs/quiz.env
          echo MYSQL_PWD=${QUIZ_MYSQL_PWD} >> generated_envs/quiz.env
          echo MYSQL_USER=${SLOTH_MYSQL_USER} > generated_envs/sloth.env
          echo MYSQL_DB=${SLOTH_MYSQL_DB} >> generated_envs/sloth.env
          echo MYSQL_PWD=${SLOTH_MYSQL_PWD} >> generated_envs/sloth.env
          echo MYSQL_USER=${STATS_MYSQL_USER} > generated_envs/stats.env
          echo MYSQL_DB=${STATS_MYSQL_DB} >> generated_envs/stats.env
          echo MYSQL_PWD=${STATS_MYSQL_PWD} >> generated_envs/stats.env
          ls -als

      - name: Copy .env files
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.HOST_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "generated_envs/*"
          target: "/home/spherulitic/.config/xerafin3/"
          strip_components: 1

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Copy .container files
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.HOST_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "deploy/*"
          target: "/home/spherulitic/.config/containers/systemd/"
          strip_components: 1

      - name: Copy mongo config files
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.HOST_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "lexicon-db/*"
          target: "/var/lib/xerafin/"
          strip_components: 1

      - name: Reload systemd and restart all services
        uses: appleboy/ssh-action@v1.2.4
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.HOST_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # Pull prod images from dockerhub repo
            find ~/.config/containers/systemd/ -name '*.container' -exec sed -i 's|Image=x-|Image=docker.io/spherulitic/x-|' {} \;

            # Fixing a nonstandard dev configuration
            find ~/.config/containers/systemd/ -name '*.container' -exec sed -i 's|--runtime=/home/linuxbrew/.linuxbrew/bin/crun|--runtime=/usr/bin/crun|g' {} \;

            # Fix path to certs for keycloak
            sed -i 's|Volume=/home/spherulitic/xerafin3/front-end/ssl/dev|Volume=/etc/letsencrypt/live/x3.xerafin.net|' ~/.config/containers/systemd/keycloak.container

            # Reload systemd to pick up unit file changes
            systemctl --user daemon-reload

            # Restart all services
            systemctl --user restart xerafin.target

            # Quick status check
            echo "Service status"
            systemctl --user --no-pager status xerafin.target --all
